.nav-container {
	margin-top: 10%;
	width: 100%;
}

.navbar {
	background-color: none;
	position: relative;
	width: 100%;
}

.nav-background {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	margin-left: auto;
	position: relative;
	z-index: 2;
	overflow: visible; /* Asegura que los elementos transformados sean visibles */
	width: 35px; /* Asegura suficiente espacio para las barras transformadas */
}

.hamburger .bar {
	width: 28px;
	height: 1px; /* Aumentar el grosor de las barras */
	background-color: #000; /* Cambiar a negro */
	margin: 4px 0;
	transition: 0.4s;
}

.hamburger.open .bar:nth-child(1) {
	transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.open .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
	transform: rotate(45deg) translate(-6px, -6px);
}

.nav-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	
}

.nav-item {
	margin: 0 15px;
}

.nav-item a {
	text-decoration: none;
	color: #333;
}

.nav-item.active a {
	font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.nav-background {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.hamburger {
		display: flex;
	}

	.nav-list {
		flex-direction: column;
		width: 100%;
		display: none;
		font-weight: bold;
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		background-color: #ECECF4;
	}
	.nav-list li{
		justify-content: space-between;
		display: flex;
	}
	.nav-list li a{
		margin-left: 10px;
	}
	.Link {
		margin-right: 10px;
	}

	.nav-list.open {
		display: flex;
	}

	.nav-item {
		margin: 10px 0;
		width: 100%;
		text-align: center;
	}
}
