@import "../../data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 25px;
}
.ElipseContainer{
	display: none;
}
.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85%;
}

.homepage-subtitle {
	width: 85%;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	transform: rotate(3deg);
}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100%;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}

@media (max-width: 768px) {
	.homepage-first-area {
		flex-direction: column;
	}
	.title{
		width: 100% !important;
		font-size: 22px !important;
		color: black;
		margin: 0 auto;
	}


	.homepage-title {
		margin: 0 auto;
		margin-left: 10px;
		width: 100%;
		text-align: center;
		color: black;
		font-size: 20px;
		
	}
	.homepage-title h1{
		font-weight: 700;
		margin: 15px;
		font-family: 'Poppins', sans-serif;
		white-space: nowrap;
	}
	.ButtonsCV{
		font-family: 'Poppins', sans-serif;
		white-space: nowrap;
	}
	

	.homepage-subtitle {
	
		width: 100%;
		text-align: center;
		margin: 0 auto;
		font-size: 23px;
	}
	.homepage-subtitle h2{
		margin-left: 20px;
		font-weight: 100;
		margin: 15px;
		font-family: 'Poppins', sans-serif;
		color: black;
		white-space: nowrap;
		letter-spacing: 3px;
	}
	.subtitle{
		margin: 0 auto;
		margin-left: 9px;
	}


	.homepage-image-container {
		width: 320px;
		height: 320px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: 10px;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}

	.Names{
		margin: 0 auto;
		font-size: 30px;
		margin-bottom: 10%;
	}
	.Names h1 {
		font-family: 'Poppins', sans-serif;
		font-weight: 900;
		margin: 0; /* Elimina márgenes predeterminados */
	}
	
	.Names h1:first-child {
		margin-bottom: -18px; /* Ajusta el espacio debajo del primer <h1> */
	}
	
	.Names h1:last-child {
		margin-top: 8px; /* Ajusta el espacio encima del segundo <h1> */
	}
	.Elipse{
		position: relative;
		left: 55%;
		top: 30%;
		width: 70%;
		height: 70%;
	}
	.ElipseContainer{
		display: block;
		position: relative;
		left: 5.4%;
		width: 100%;
		height: 300px; /* Ajusta la altura según sea necesario */
		overflow: hidden; /* Oculta el desbordamiento */
	}
	.SectionFrida {
		margin: 0 auto;
		margin-top: 2%;
		width: 80%;
		height: 200px; /* Ajusta la altura según sea necesario */
		position: relative;
		
	}
	.FridaImg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 20px;
		margin-top: 10%;
	}

	.Efe{
		width: 26%;
		bottom: 11%;
		right: 25%;
		z-index: 99;
		position: relative;
	}
	.Eme{
		width: 60%;
		top: 60%;
		bottom: 0%;
		left: 34%;
		z-index: 99;
		position: relative;
	}
	.Vector{
		width: 49%;
		top: -6%;
		bottom: 0%;
		left: -26%;
		right: 5%;
		z-index: 99;
		position: relative;
	}
	.DescriptionImg {
		width: 80%;
		margin-left: 13%;
		margin-top: 30%;
		font-family: 'Poppins', sans-serif;
		text-align: center; /* Centra el texto horizontalmente */
		font-size: 15px;
		line-height: 1.5; /* Aumenta el espacio entre líneas */
	}
	
	.DescriptionImg span {
		font-weight: bold;
	}
}